/* General Styles */
html {
	box-sizing: border-box;
	height:100%;
}

body {
	min-height: 100%;
	max-width: 100%;
	position: relative;
    padding: 100px 0;
    font: normal 200 1.5em/1.5em "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1BA5B8;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: bold 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	margin: 1em 0 0;
}

h1 {
	letter-spacing: -0.05em;
	margin: 0 0 0 1em;
}

h2 {
	letter-spacing: -0.02em;
	font-weight: 500;
	margin: 0 0 0.5em 0;
	color: #012D41;
}

h3 {
	font-size: 1.25em;
}

a {
	font: bold 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #012D41;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #1BA5B8;
	text-decoration: none;
}

p {
	font-size: 1em;
	padding-top: 1em;
}


/* Navbar Styling */
.navbar {
	background-color: #fff;
	margin: 0;
}

.navbar-brand {
	display: inline-block;
	margin: 1em 1em 2em 1em;
	padding: 1em 0;
	max-width: 100%;
	font-size: 1.2em;
}

.navbar-sub-brand {
	display: inline-block;
	font-size: 0.75em;
	color: #012D41;
	margin: 0 1em 0 1em;
}

.collapse {
	background-color: #fff;
}

.navbar-right {
	margin: 1rem 1rem 2rem 1rem;
	padding: 1rem 0 0 0;
}

button.navbar-toggle.collapsed {
	margin-right: 0;
}

#navbar > ul > li > a {
	color: #012D41;
}


/* Main Header */
.main-header {
	position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
	text-align: center;
	margin: auto;
	font: 700 1.5em/2em 'Montserrat' , sans-serif;
	color: #012D41;
}

.main-icon {
	padding-top: 1em;
	color: #012D41;
}


/* Images */
img {
	max-width: 100%;
	border-bottom: 2px solid #012D41;
}

.main-img {
	margin: auto;
	margin-bottom: -6em;
	position: relative;
	overflow: hidden;
    max-height: 425px;
    width: 1200px;
    object-fit: cover;
	border-bottom: 2px solid #012D41;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.certificate {
	display: inline-block;
	max-width: 48%;
	padding: 0 2em 1em 2em;
	border-bottom: none;
}

.th-logo {
	padding: 0 2em 1em 2em;
	border-bottom: none;
	height: 50%;
	width: 50%;
}

.cw-logo {
	max-height: 50%;
	max-width: 44%;
	padding-top: 1.5em;
}

.cw-badge {
	width: 200%;
	padding: 1.5em;
}


/* Portfolio */
#portfolio {
	padding-top: 9em;
}

.featured-section {
	margin: 1em 0 0 0;
	padding: 1em 0;
	font-size: 1.25em;
	font-weight: bold;
}

.featured-heading {
	max-width: 100%;
	margin: auto;
	text-align: center;
}

@media screen and (max-width: 991px) {
	.featured-heading:nth-child(3) {
		clear: left;
	}
	.featured-heading:nth-child(5) {
		clear: left;
	}
	.th-logo {
		float: left;
		max-width: 32%;
	}
	.cw-logo {
		float: left;
		max-height: 50%;
		max-width: 25%;
		padding-top: 1em;
	}
}

.featured-text {
	color: #1BA5B8;
	padding: 0 0 1em;
	font-size: 0.8em;
}

.report-card {
	background-color: #DAECF3;
	margin: 1em 0 2em;
	padding: 1em;
	font-size: 1em;
}

.align {
	text-align: center;
}

@media screen and (max-width: 425px) {
	.cw-logo {
		float: none;
		max-width: 40%;
	}
	.th-logo {
		float: none;
		max-width: 50%;
	}
	.certificate {
		padding: 0 1em 1em 1em;
	}
}


/* Footer */
footer {
	text-align: center;
	position: absolute;
    right: 0;
    bottom: 0;
	left: 0;
	padding: 1em;
	background-color: #DAECF3;
}


/* Footer Icons */
.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	border: 0;
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(55%);
}


/* About Page */
.profile-photo {
	float: left;
	max-width: 150px;
	margin: 3em auto;
	border-radius: 100%;
	border: 2px solid #012D41;
}


/* Contact Page */
.contact-info {
	list-style: none;
	padding: 1em 0 0;
	margin: 0;
}

.contact-info {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	margin: 10px 0 0;
	padding: 0 0 0 30px;
}

.mail {
	background-image: url("https://andrewalderton.github.io/nanodegree-portfolio/img/mail.png");
}

.twitter {
	background-image: url("https://andrewalderton.github.io/nanodegree-portfolio/img/twitter.png");
}

.github {
	display: inline-block;
	background-image: url("https://andrewalderton.github.io/nanodegree-portfolio/img/github.png");
}
